
		<div class="container" id="bodyDiv"  >
	
	<!-- ******** -->
	<div style="width:700px">
		<div  style="width:100px;float:left">
			   TRACE BY</br> 
			   CONSIGNEE 
		</div>
		<div style="width:600px">
		     Origin: <input type="text" class="textFieldSmall">  Date Range:  <input type="text" class="textFieldDate"> To <input type="text" class="textFieldDate">  Limit  <input type="text" class="textFieldSmall">
		</div>
	</div>	
	
	<!-- ****** -->
	</br>
	<div style="width:700px">
		<div style="width:550px;float:left">
			Trace Type:  <input type="text" class="textFieldVerySmall">  Consignee: <input type="text" class="textFieldLarge">  City: <input type="text" class="textFieldLarge"> 
			</br></br>
			 Status: <input type="text" class="textFieldVerySmall"> Address: <input type="text" class="textFieldLarge"> State:  <input type="text" class="textFieldMedium">  Zip  <input type="text" class="textFieldSmall">
		</div>
		<div >
			No Shipments</br>
			<input type="text" class="textFieldVerySmall">
		</div>
		
	</div>
	
	</div>
	
	</body>
	</html>
	