
<!-- CSS files included -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/StyleSheet.css">
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/main.css" />

	<div id="headerDiv" class="container margin-top_30">
		<span class="col-sm-2" style="margin-left: -9px;"> <img
			id="FedExlogo" src="../images/FedExLogo.png" height="40" width="150px" />
		</span>
		<p class="col-sm-5" style="float: right">
		<h3>
			<b>Shipment Inquiry</b>
		</h3>
		</p>
	</div>

	<div class="margin-top_30">
		<div class="well-sm defaultColor" id="navigationDiv">
			<font size='1px' text-color='#eee'><b>SHIPMENT INQUIRY
					HOME</b></font>
		</div>
	</div>
	<div class="margin-top-30  navbar1" >
	<input type="button" class="navbuttons" value="F3-Back" ng-click="test()">
	<input type="button" class="navbuttons" value="Equipment" ng-click="test()">
	<input type="button" class="navbuttons" value="Drivers" ng-click="test()">
	<input type="button" class="navbuttons" value="Window" ng-click="test()">
	<input type="button" class="navbuttons" value="Help" ng-click="test()">
	</div>