<!-- CSS files included -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/StyleSheet.css">
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/main.css" />

<div class="margin-top_30"
              style="background-color: #eee; min-height: 500px; max-height: 680px; overflow-y: auto; overflow-x: auto"
              >

              <div style="width: 700px; height: 80px">
                     <div style="float: left; width: 130px; height: 40px">
                           <input type="image" id="FedExlogo" src="../images/FedExLogo.png"
                                  height="40" width="150px">
                     </div>
                     </br>
                     <div
                           style="border-style: groove; width: 500px; float: left; padding: 5px">
                           <b>FREIGHT BILL COMMENTS</b></br> 
                                  <a href="/Views/customer.html" class="mainbuttons">ADD COMMENT TO MULTIPLE PROS</a>
                     </div>
              </div>
              </br> </br>

              <!--  ************************************************************************** -->
              <div style="width: 1000px; height:400px">
                     <div style="width: 210px; height: 400px;float:left">

                           <div style="border-style: groove; height: 300px; margin: 5px">
                                  <b>  REPORTS</b>
                                  <div class="alignButton ">
                                                <a href="/Views/customer.html" class="mainbuttons">STATUS/INACTIVE</a>
                                  </div>
                                  <div class="alignButton ">
                                       <a href="/Views/customer.html" class="mainbuttons">UCC_Scan_Detail   </a>
                                  </div>
                                  <div class="alignButton">
                                        
                                                 <a href="#proTransfer" class="mainbuttons">ProTransfer</a>
                                  </div>
                                  <div class="alignButton">
                                        
                                                 <a href="/Views/customer.html" class="mainbuttons">TrailerTransfer</a>
                                  </div>
                                  <div class="alignButton">
                                         
                                                 <a href="/Views/customer.html" class="mainbuttons">DynamicStat/Inact</a>
                                  </div>
                           </div>

                           <div style="border-style: groove; height: 90px; margin: 5px">
                                  <b>  SECURITY</b>
                                  <div class="alignButton">
                                         
                                                 <a href="/Views/customer.html" class="mainbuttons">MAINTENANCE</a>
                                  </div>
                           </div>
                     </div>


                     <!--  ************************************************************************** -->
                     <div style="width: 520px;margin-right:225px;padding-right:300px; height: 400px; border-style: groove;float:right">
                           <b>  TRACE BY</b>
                           <div style="width: 180px; height: 400px;float:left;padding-right:15px">
                                  <div class="alignButton1">
                                         
                                                 <a href="#traceByProTnblIline" class="mainbuttons">PRO/TNBR/LIN</a>
                                  </div>
                                  <div class="alignButton1">
                                         
                                                 <a href="#multiplePros" class="mainbuttons">Multiple_pro's</a>
                                  </div>
                                  <div class="alignButton1">
                                         
                                                 <a href="#customer" class="mainbuttons">CUSTOMER</a>
                                  </div>
                                  <div class="alignButton1">
                                        
                                                 <a href="/Views/customer.html" class="mainbuttons">CUST_CENTER</a>
                                  </div>
                                  <div class="alignButton1">
                                         
                                                 <a href="/Views/customer.html" class="mainbuttons">ACCTCODE</a>
                                  </div>
                                  <div class="alignButton1">
                                         
                                                 <a href="/Views/customer.html" class="mainbuttons">ADDRESS_CODE</a>
                                         
                                  </div>
                                  <div class="alignButton1">
                                         
                                                 <a href="/Views/customer.html" class="mainbuttons">BROKER</a>
                                  </div>
                                  <div class="alignButton1">
                                         
                                                 <a href="/Views/customer.html" class="mainbuttons">INT'sREFERENCE</a>
                                  </div>
                           </div>
                           <div style="float:right"> 
                                  <div class="alignButton1"  >
                                        
                                                 <a href="/Views/customer.html" class="mainbuttons">BILLOFLADDING#</a>
                                  </div>
                                  <div class="alignButton1">
                                         
                                                 <a href="/Views/customer.html" class="mainbuttons">PURCHASE_ORDER#</a>
                                  </div>
                                  <div class="alignButton1">
                                         
                                                 <a href="/Views/customer.html" class="mainbuttons">SCAC_CODE</a>
                                  </div>
                                  <div class="alignButton1">
                                        
                                                 <a href="/Views/customer.html" class="mainbuttons">SNBR</a>
                                  </div>
                                  <div class="alignButton1">
                                        
                                                 <a href="/Views/customer.html" class="mainbuttons">CNBR</a>
                                  </div>
                                  <div class="alignButton1">
                                         
                                                 <a href="/Views/customer.html" class="mainbuttons">BUREAU/TARIFF/ITEM</a>
                                  </div>
                                  <div class="alignButton1">
                                         
                                                 <a href="/Views/customer.html" class="mainbuttons">PHONE_NO.</a>
                                  </div>

                           </div>

                     </div>


