

<!-- CSS files included -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/StyleSheet.css">
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/main.css" />
              <body ng-app="" >
              <form>
                     <frame class="margin-top_30"
              style="margin-bottom: 80px;  padding-top: 1px; 900 px; max-height: 1200px;">
                     <!-- <h2>Trace By Purchase Order</h2><hr></hr> -->
                     <frame class="margin-top_30"
              style="margin-bottom: 80px;  padding-top: 1px; 900 px; max-height: 1200px;"
              >
                           <table style="width: 75%;">
                                  <tr>
                                         <td class="borderNone"><b>TRACE BY PURCHASE ORDER </b></td> <td></td>
                                         <td class="borderNone"><b>PO#: </b><input type="text" class="textFieldLarge"       maxlength="35" required ng-click="" /></td>
                                         <td class="borderNone"><b>(D,U,A): </b><input type="text" class="textFieldSmall" size="2" ng-model="" maxlength="3" required /></td>
                                         <td class="borderNone"><b>Date Range: </b><input type="text" name="daterange" class="textFieldDate" value="" style="width: 50px;"/><b> to </b><input type="text" name="daterange1" class="textFieldDate" value="" style="width: 50px;"/></td>
                                  </tr>
                           </table>
                     </frame><h1><hr></hr></h1>
                     <frame class="margin-top_30"
              style="margin-bottom: 80px;  padding-top: 1px; 900 px; max-height: 1200px;"
              >
                           <table style="width: 75%;">
                                  <tr>
                                         <td class="borderNone" style=""><b>OPTIONS</b> </td> 
                                         <td class="borderNone" style=""><b>BOL#: </b><input type="text" name="bol#" style="width:180px;" /></td>
                                         <td class="borderNone" style=""><b>SCAC: </b><input type="text" name="scac"  style="width:50px;"/></td>
                                         <td class="borderNone" style=""><b>Origin: </b><input type="text" name="origin"  style="width:50px;"/></td>
                                         <td class="borderNone" style=""><b>Dest: </b><input type="text"name="dest"  style="width:50px;"/></td>
                                  </tr>
                                  <tr>
                                         <td class="borderNone" style=""></td><td class="borderNone" style=""><b>Acct:</b><input type="text" class="textFieldLarge" maxlength="35" required ng-click="" />&nbsp;&nbsp;<input type="text" class="textFieldSmall" size="2" ng-model="" maxlength="3" required /></td><td class="borderNone" style=""><b>(S,C,B)</b></td>
                                  </tr>
                                  <tr>
                                         <td class="borderNone" style=""></td><td class="borderNone" style=""><b>Shipper:</b><input type="text" class="textFieldExtraLarge" maxlength="35" style="width:180px" required ng-click="" /></td><td class="borderNone" style=""><b>City:</b><input type="text" class="textFieldLarge" maxlength="35" required ng-click="" /></td>
                                  </tr>  
                                  <tr>
                                         <td class="borderNone" style=""><input type="checkbox" name="abc" style="width:20px;" value="checked"/><b>Clear</b></td>
                                         <td class="borderNone" style=""><b> Addr :</b><input type="text" class="textFieldExtraLarge" maxlength="35" style="width:200px" required ng-click="" /></td><td class="borderNone" style=""><b>State:</b><input type="text" class="textFieldLarge" maxlength="35"      style="width: 60px" ng-click="" /> &nbsp; <input type="text" class="textFieldSmall" maxlength="35" style="width: 60px" required    ng-click="" /></td>
                                         
                                  </tr>
                                  <tr>
                                         <td class="borderNone" style=""></td><td class="borderNone" style=""><b>Consignee:</b><input type="text" class="textFieldExtraLarge"  maxlength="35" style="width:170px" required ng-click="" /></td><td class="borderNone" style=""><b>City:</b><input type="text" class="textFieldLarge" maxlength="35" required ng-click="" /></td>
                                  </tr>
                                  <tr>
                                         <td class="borderNone" style=""></td><td class="borderNone" style=""><b>Addr:</b><input type="text" class="textFieldExtraLarge" maxlength="35" style="width:199.5px" required ng-click="" /></td><td class="borderNone" style=""><b>State:</b><input type="text" class="textFieldLarge" maxlength="35" style="width: 60px" required ng-click="" /> &nbsp; <input type="text" class="textFieldSmall" maxlength="35" style="width: 60px" required    ng-click="" /></td>
                                  </tr>
                                  <tr>
                                         <td class="borderNone" style=""></td><td class="borderNone" style=""><b>Bill To :</b><input type="text" class="textFieldExtraLarge" maxlength="35" style="width:190px" required ng-click="" /></td>
                                  </tr>
                                  <tr>
                                         <td class="borderNone" style=""><b>(S,C) :</b></td>
                                         <td class="borderNone" style=""><input type="text" class="textFieldSmall" maxlength="35" style="width:60px" required ng-click="" /></td>
                                  </tr>
                                  
                                  </frame>
                                  <table style="width: 45%;">
                                  <tr>
                           <th><b>Pro#</b></th>
                           <th><b>Bill of Lading</b></th>
                           <th><b>Pcs</b></th>
                           <th><b>Wgt</b></th>
                           <th><b>Ship Date</b></th>
                           <th><b>ETA Date</b></th>
                           <th><b>Location</b></th>
                           <th><b>Delivered</b></th>
                     </tr>
              
                           </table>
                     
                     </frame>
                     </form>
              </body>
</html>
