

<!-- CSS files included -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/StyleSheet.css">
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/main.css" />


<div class="container" id="bodyDiv">
	<div class="margin-top_30"
		style="margin-bottom: 80px; padding-top: 2px; 900 px; max-height: 1200px;">
		<form>
		<table style="width: 50%;">
				<tr>
					<td class="borderNone">PRO: <input type="text"
						class="textFieldLarge" size="15" 
						maxlength="35" required  />&nbsp; <input
						type="text" class="textFieldSmall" size="4"
						ng-model="proDetailForm.proSuffix" maxlength="3" required /> 
					</td>
					<td class="borderNone">TNBE: <input type="text"
						class="textFieldLarge" size="15" 
						maxlength="35" required  />
					</td>
				</tr>
				<tr>
					<td colspan="2"  class="borderNone">ILINE PRO: <input type="text"
						class="textFieldLarge" size="15" 
						maxlength="35" required  />
					</td>
				</tr>
				<tr>
					<td colspan="2"  class="borderNone"><input type="checkbox" /> Clear
					</td>
				</tr>
				<tr>
					<td class="borderNone"><input type="radio"/>&nbsp; Freight Bill 
					</td>
					<td class="borderNone"><input type="checkbox">&nbsp; Shipment Activity
					</td>
				</tr>
				<tr>
					<td class="borderNone"><input type="radio"/>&nbsp; History 
					</td>
					<td class="borderNone"><input type="checkbox">&nbsp; Shipment Movement
					</td>
				</tr>
				<tr>
					<td class="borderNone"><input type="radio"/>&nbsp; Optimized 
					</td>
					<td class="borderNone"><input type="checkbox">&nbsp; OSD
					</td>
				</tr>
				<tr>
					<td class="borderNone"><input type="radio"/>&nbsp; B/L Image 
					</td>
					<td class="borderNone"><input type="checkbox">&nbsp; Trailer Movement
					</td>
				</tr>
				<tr>
					<td class="borderNone"><input type="radio"/>&nbsp; D/R Image 
					</td>
					<td class="borderNone"><input type="checkbox">&nbsp; Acct Receivable
					</td>
				</tr>
				<tr>
					<td class="borderNone"><input type="submit" value="Ok" class="blue-button"/> 
					</td>
					<td class="borderNone"><input type="submit" value="Cancel" class="blue-button">
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
